@media (max-width: 960px){
	.wrapper .container .list .list_project > .el_project .button
	{
		width: auto;
	}
	.wrapper .container .center .home .button
	{
		width: auto;
	}
	.wrapper .container .center-none-flex .project .button
	{
		width: auto;
	}
	.wrapper .container .contacts
	{
		display: flex;
		flex-direction: column;
		width: 100%;
	}
	.wrapper .container .contacts .block_contacts
	{
		width: 100%;
	}
	.wrapper .container .contacts .svg_img
	{
		visibility: hidden;
		height: 0;
		width: 0;
	}
	.wrapper .header .menu .burger_menu .nav
	{
		display: flex;
		flex-direction: column;
	}

	.wrapper .header .menu .burger_menu .nav .item
	{
		height: 100px;
		width: 100%;
		text-align: center;
	}

	.wrapper .header .menu .burger_menu .nav .item p
	{
		margin: 0 auto;
	}

	#toggle {
	  opacity: 0;
	  visibility: visible;
	}

	#toggle:checked ~ .menu_button > span {
	  transform: rotate(45deg);
	}
	#toggle:checked ~ .menu_button > span::before {
	  top: 0;
	  transform: rotate(0);
	}
	#toggle:checked ~ .menu_button > span::after {
	  top: 0;
	  transform: rotate(90deg);
	}
	#toggle:checked ~ .nav {
	  visibility: visible;
	  right: 0;
	}

	.menu_button {
	  display: flex;
	  align-items: center;

	  width: 26px;
	  height: 26px;

	  cursor: pointer;
	  z-index: 1;
	}

	.menu_button > span,
	.menu_button > span::before,
	.menu_button > span::after {
	  display: block;
	  position: absolute;

	  width: inherit;
	  height: 2px;

	  background-color: rgb(239, 255, 251);

	  transition-duration: .25s;
	}
	.menu_button > span::before {
	  content: '';
	  top: -8px;
	}
	.menu_button > span::after {
	  content: '';
	  top: 8px;
	}

	.nav {
	  display: block;
	  position: fixed;
	  visibility: hidden;
	  top: 0;
	  right: -100%;

	  width: 100%;
	  height: 100%;

	  margin: 0;
	  padding: 80px 0;

	  list-style: none;

	  background-color: rgb(51, 51, 51);
	  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);

	  transition-duration: .25s;
	}

	.item {
	  padding: 12px 0;

	  color: rgba(239, 255, 251, 1);

	  font-family: 'Roboto', sans-serif;
	  font-size: 20px;
	  font-weight: 600;

	  transition-duration: .25s;
	}
	.wrapper .header .menu .burger_menu .nav .item:active {
		color: rgba(51, 51, 51, 1);
	  	background-color: rgba(80,216,144, 1);
	}
}

@media (max-width: 1200px) {
	h1 { font-size: 2em; }
	h2 { font-size: 1.5em; }
	h3 { font-size: 1.17em; }
	h5 { font-size: .83em; }
	h6 { font-size: .75em; }
	p { font-size: 1rem; }
	.wrapper .header .menu
	{
		max-width: 1140px;
	}
	.wrapper .container
	{
		max-width: 1140px;
	}
	.wrapper .footer .box
	{
		max-width: 1140px;
	}
}

@media (max-width: 1140px)
{
	.wrapper .header .menu
	{
		max-width: 960px;
	}
	.wrapper .container
	{
		max-width: 960px;
	}
	.wrapper .footer .box
	{
		max-width: 960px;
	}
}
@media (max-width: 960px)
{
	.wrapper .header .menu
	{
		max-width: 720px;
	}
	.wrapper .container
	{
		max-width: 720px;
	}
	.wrapper .footer .box
	{
		max-width: 720px;
	}
}

@media (max-width: 720px)
{
	.wrapper .header .menu
	{
		max-width: 540px;
	}
	.wrapper .container
	{
		max-width: 540px;
	}
	.wrapper .footer .box
	{
		max-width: 540px;
	}
}

@media (max-width: 540px)
{
	.wrapper .header .menu
	{
		max-width: 95vw;
	}
	.wrapper .container
	{
		max-width: 95vw;
	}
	.wrapper .footer .box
	{
		max-width: 95vw;
	}
}